body{
    background-color: rgb(213, 108, 240);
    font-family: Rock Salt;
}
header{
    font-size: 20px;
    text-align: center;
}
.top1{
  background-color: rgb(240, 108, 240);  
  text-align: center;
  padding: 40px;
}